# Copy this file to terraform.tfvars and update with your values

org_name        = "your-org-name"
project_name    = "your-project-name"
aws_profile     = "your-aws-profile"
primary_region  = "us-east-1"
admin_role_name = "AWSReservedSSO_AdministratorAccess_xxxxx"
